{{#each posts}}
  <div class="blog-post">
    <div class="post-header">
      <h2><a href="/post/{{this.id}}">{{this.title}}</a></h2>
      <span>Posted by {{this.user.username}} on {{format_date this.createdAt}}</span>
    </div>
    <p>{{this.content}}</p>
  </div>
{{/each}}
